boto3==1.23.9
click==8.0.4
fastapi==0.78.0
marshmallow==3.14.1
marshmallow_dataclass==8.5.8
numpy==1.15.0
pandas==1.0.1
pydantic==1.9.1
PyYAML==6.0
requests==2.18.4
scikit_learn==0.23.2
setuptools==39.0.1
uvicorn==0.16.0
